body{
    background-color: lightgray;
}
main{
    width: 400px;
    margin: 50px auto;
    border: 2px solid silver;
    height: 520px;
    background-color: lightblue;
    opacity: .9;
    padding: 10px;
    border-radius: 10px;
    border: 5px solid gold;
}
.input-value{
    width: 320px;
    padding: 20px;
    margin: 20px;
    margin-bottom: 50px;
    font-size: 20px;
    background-color: lightgray;
    border: none;
    color: black;
    font-weight: 700;
}
button{
    padding: 20px 30px;
    width: 80px;
    margin: 5px;
    margin-left: 10px;
    border: none;
    border-radius: 10px;
    background-color:grey;
    color: white;
    font-size: 20px;
    transition: all .5s;
}
button:hover{
    background-color: lightgray;
}
.all-clear,.one-clear,.result{
    background-color: gold;
}